<h1>
    Retrieving and Traversing JSON Data
</h1>

<h2>Pages and their nested questions</h2>

<section *ngFor="let page of jsonData">

    <div class="pages">

        <h3>
            Page: {{page.pageOrder}}:{{page.pageTitle}}
        </h3>

        <h4>
            {{page.instructions}}
        </h4>

        <div class="questions">

            <div *ngFor="let question of page.questions">
    
                <mat-label>{{question?.questionText}}</mat-label>
                
                <!-- <mat-form-field></mat-form-field> -->
                    <input
                        *ngIf="question?.fieldType == 'textfield' "
                        [pattern]="question.regularExpression"
                        [maxLength]="question.max"
                        [minLength]="question.min"
                        [id]="question.fieldName"
                        [type]="question.fieldType">


                <select
                    *ngIf="question?.fieldType == 'select_one'"
                    [id]="question.fieldName"
                >
                    <option
                        *ngFor="let option of question.options"
                        [value]="option?.value">
                        {{option.label}}
                    </option>
                
                </select>

                <ng-container *ngFor="let followUpOption of question.options">

                    <div 
                        class="conditionalRow" 
                        *ngIf="followUpOption.hasconditionalquestion =='yes'">
                        
                        <div *ngFor="let questionToFollow of followUpOption.questionToFollow">

                            <label>
                                {{questionToFollow.questionText}}
                            </label>

                            <input
                                *ngIf="questionToFollow?.fieldType == 'textfield' "
                                [pattern]="questionToFollow.regularExpression"
                                [id]="questionToFollow.fieldName"
                                [type]="questionToFollow.fieldType">

                        </div>

                    </div>
                </ng-container>
    
            </div>
    
        </div>
        
    </div>

</section>