<h1>
    Retrieving and Traversing JSON Data
</h1>

<h2>Pages and their nested questions</h2>

<section *ngFor="let page of jsonData">

    <div class="pages">

        <h3>
            Page: {{page.pageOrder}}:{{page.pageTitle}}
        </h3>

        <h4>
            {{page.instructions}}
        </h4>

        <div class="questions">

            <div *ngFor="let question of page.questions">
    
                <label>{{question?.questionText}}</label>

                <input
				    *ngIf="question?.fieldType == 'textfield' "
					[pattern]="question.regularExpression"
					[maxLength]="question.max"
					[minLength]="question.min"
					[id]="question.fieldName"
					[type]="question.fieldType">

                <select
                    *ngIf="question?.fieldType == 'select_one'"
                    [id]="question.fieldName"
                >
                    <option
                        *ngFor="let option of question.options"
                        [value]="option?.value">
                        {{option.label}}
                    </option>
                
                </select>
    
            </div>
    
        </div>
        
    </div>

</section>